@import '../../styles/_colors.scss';

.aboutme-background{
    // background: linear-gradient(to right, rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.03),transparent), url("/img/Me_autumn.jpg");
    // background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1), transparent), url("/img/me_waterhole.jpg");
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4)), url("/img/Mountains.jpg");
    background-size: cover;
    // background-color: #d1dde0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    .aboutme-image{
        position: absolute;
        width: 37%;
        height: 77%;
        right: 2%;
        top: 12%;
        background-color: rgba(0,0,0,.3);
        // background-color: $blue;
    }
    .me-portrait{
        position: absolute;
        right: 5%;
        top: 12%;
    }
    .aboutme-text{
        width: 50%;
        margin-top: 8%;
        margin-left: 5%;
        h2{
           font-family: 'Open Sans'; 
           font-weight: 100;
           font-size: 38px;
           text-align: left;
           color: black;
           margin-bottom: 50px;
        }
        p{
            font-family: 'Open Sans'; 
            font-weight: 100;
            font-size: 22px;
            line-height: 32px;;
            margin-bottom: 40px;
            color: #333;
            text-align: left;
        }
        a{
            font-size: 25px;
            color: #333;
            text-decoration: none;
            font-weight: 400;
        }
        a:hover{
            color: #fb9073;
        }
        hr{
            border: none;
        }
        ul{
            margin-bottom: 20px;
            margin-left: 5%;
            li{
                font-size: 18px;
                line-height: 34px;
            }
        }
    }
}
