@import '../../styles/_colors.scss';

.aboutme-background{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4)), url("/img/Mountains.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    // overflow-y: hidden;
    .aboutme-image-background{
        position: absolute;
        width: 35%;
        height: 77%;
        right: 2%;
        top: 12%;
        background-color: rgba(0,0,0,.3);
        .me-portrait{
            // background-image: url("/img/me_large.jpg");
            // background-size: cover;
            // height: 650px;
            // width: 100%;
            // height: 520px;
            // width: 80%;
            position: absolute;
            right: 5%;
            top: 15%;
        }
    }
   
    .aboutme-text{
        width: 50%;
        margin-top: 10%;
        margin-left: 9%;
        .title-short{
            display: none;
        }
        h2{
           font-family: 'Open Sans'; 
           font-weight: 100;
           font-size: 42px;
           text-align: left;
           color: black;
           margin-bottom: 40px;
           margin-right: 20px;
        }
        p{
            font-family: 'Open Sans'; 
            font-weight: 100;
            font-size: 22px;
            line-height: 34px;;
            margin-bottom: 30px;
            margin-right: 20px;
            color: #333;
            text-align: left;
        }
        ul{
            margin-bottom: 20px;
            margin-left: 2%;
            list-style-type: circle;
            li{
                font-size: 18px;
                line-height: 40px;
                color:black;
                font-family: 'Open Sans';
                font-weight: 100;
            }
        }
    }
}

// Responsive Design
// PHONE: 0-767 
@media (max-width: 767px) {
    .aboutme-background{
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        // height: 138vh;
        height: auto;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.7)), url("/img/Mountains.jpg");
        background-size: cover;
        .aboutme-image-background{
            position: relative;
            width: 50%;
            height: 280px;
            margin: 5%;
            left: 30%;
            margin-top: 20%;
            margin-bottom: 0%;
            background-color: rgba(0,0,0,.3);
            padding-bottom: 0%;
        }
        .me-portrait{
            // position: absolute;
            width: 90%;
            height: auto;
            left: 25%;
            top: 7%;
        }
        .aboutme-text{
            position: relative;
            width: 95%;
            margin-top: -10%;
            margin-left: 7%;
            // margin-right: 4%;\
            .title-long{    
                display: none;
            }
            .title-short{
                display: block;
                position: relative;
                font-size: 38px;
                line-height: 44px;;
                margin-bottom: 20px;
                padding-top: 0px;
                text-align: left;
                margin-left: 2%;
            }
            p{
                position: relative;
                margin-left: 2%;
                margin-right: 8%;
                // padding-bottom: 100px;
                font-size: 20px;
                line-height: 28px;;
                color: black;
                text-align: left;
            }
            ul{
             //    display: none;
             padding-left: 10%;
             margin-bottom: 15%;
                
             li{
                 font-size: 4vw;
                 line-height: 5.5vw;
                 padding-bottom: 2.5vw;
                 margin-right: 10%;

             }
         }
        }
    }
}
    
// TABLET: 768-1025 
@media (min-width: 768px) and (max-width: 1025px){
    .aboutme-background{
        position: relative;
        height: auto;
        overflow-y: scroll;
        padding-bottom: 5%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.65),rgba(255, 255, 255, 0.8)), url("/img/Mountains.jpg");
        background-size: cover;

        .aboutme-image-background{
            position: relative;
            width: 45%;
            height: 400px;
            margin: 5%;
            left: 40%;
            margin-top: 150px;
        }
        .me-portrait{
            width: 85%;
            height: auto;
            left: 20%;
            top: 12%;
        }
        .aboutme-text{
            width: 95%;
            margin-left: 6%;
            .title-long{    
                display: none;
            }
            .title-short{
                display: block;
                position: relative;
                font-size: 8.2vw;
                line-height: 9.5vw;
                margin-bottom: 30px;
                // padding-top: 10px;
                text-align: left;
                margin-left: 2%;
            }
            p{
                position: relative;
                margin-left: 2%;
                margin-right: 8%;
                margin-bottom: 7%;
                padding-top: 20px;
                font-size: 4vw;
                line-height: 6vw;
                color: black;
                text-align: left;
            }
            ul{
            //    display: none;
            padding-left: 10%;
            margin-bottom: 20px;
                li{
                    font-size: 3.5vw;
                    line-height: 5vw;
                    margin-right: 8%;
                    padding: 8px;
                }
            }
        }
    }
}




// Responsive Design
// 1026- 1300
@media (min-width: 1026px) and (max-width: 1600px){
    .aboutme-background{
        overflow-y: scroll;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.8), rgba(255, 255, 255, .4)), url("/img/Mountains.jpg");
        background-size: cover;
        .aboutme-image-background{
            width: 28%;
            height: 59%;
            right: 5%;
            top: 15%;
        }
        .me-portrait{
            width: 82%;
            height: auto;
            right: 2%;
            margin-top: 0%;
        }
        .aboutme-text{
            width: 50%;
            margin-top: 8%;
            margin-left: 5%;
            margin-bottom: 5%;
            .title-short{
                display: none;
            }
            h2{
               font-size: 38px;
               margin-bottom: 40px;
               margin-right: 50px;
            }
            p{
                font-size: 20px;
                line-height: 30px;;
                margin-bottom: 30px;
                margin-right: 20px;
            }
            ul{
                margin-bottom: 20px;
                margin-left: 2%;
                li{
                    font-size: 16px;
                    line-height: 34px;
                }
            }
        }
    }
}




// Responsive Design
//  >1601
@media (min-width: 1601px){
    .aboutme-background{
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.8), rgba(255, 255, 255, .4)), url("/img/Mountains.jpg");
        background-size: cover;
        .aboutme-image-background{
            width: 25%;
            height: 56%;
            right: 4%;
            top: 12%;
        }
        .me-portrait{
            width: 83%;
            height: auto;
            right: 1%;
            margin-top: 4%;
        }
        .aboutme-text{
            width: 50%;
            margin-left: 17%;
        //     margin-bottom: 5%;
            margin-top: 8%;
        //     .title-short{
        //         display: none;
        //     }
            // h2{
            //    font-size: 2.5vw;
            //    line-height: 3.5vw;
            //    margin-bottom: 2.5vw;
            //    margin-right: 50px;
            // }
            p{
                // font-size: 1.4vw;
                // line-height: 2.4vw;
                margin-bottom: 40px;
                // margin-right: 20px;
            }
        //     ul{
        //         margin-left: 3%;
        //         li{
        //             font-size: 1.2vw;
        //             line-height: 2vw;
        //             padding-bottom: 15px;
        //         }
        //     }
        }
    }
}

// Responsive Design
//  >3000
@media (min-width: 3000px){
    .aboutme-background .aboutme-text{
        width: 49%;
        h2{
            font-size: 72px;
            line-height: 88px;
            margin-bottom: 70px;
        }
        p{
            font-size: 42px;
            line-height: 62px;
            margin-bottom: 90px;
        }
        ul li{
            font-size: 32px;
            line-height: 62px;
        }
    }
}
