.contact-background{
    filter: saturate(1.2);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2),transparent), url("/img/Mountains.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    .contact-content{
        text-align: right;
        margin-left: auto;
        margin-right: 7%;
        margin-top: 7%;
        padding-top: 22px;
        h1{
            text-align: right;
            font-family: 'Open Sans';
            font-size: 58px;
            font-weight: 100;
            color:#222;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        hr{
            width: 270px;
            border-top: 1px solid #333;
            margin-left: auto;
            margin-right: 0px;
            margin-top: 3px;
            margin-bottom: 40px;
        }
        h5{
            margin-top: 0px;
            font-size: 25px;
            color:#333;
            margin-top: 30px;
        }
        a{
            color:#333;
            text-decoration: none;
        }
        a:hover{
            font-size: 25.5px;
            color:#444;
            text-decoration: none;
        }
    }
}



// Responsive Design
// PHONE: 0-768 
@media (max-width: 768px) {
    .contact-background{
        .contact-content{
            margin-right: 6%;
            margin-top: 20%;
            h1{
                font-size: 30px;
            }
            hr{
                width: 270px;
                width: 150px;
                width: 240px;
                margin-top: 10px;
                // margin-bottom: 30px;
            }
            h5{
                font-size: 18px;
                color:#333;
                margin-top: 20px;
            }
        }
    }
}
    
// TABLET: 768-1025 
@media (min-width: 768px) and (max-width: 1025px){
    .contact-background{
        .contact-content{
            margin-right: 8%;
            margin-top: 20%;
            h1{
                font-size: 60px;
            }
            hr{
                width: 270px;
                width: 150px;
                width: 240px;
                margin-top: 10px;
                // margin-bottom: 30px;
            }
            h5{
                font-size: 28px;
                color:#333;
                margin-top: 20px;
            }
        }
    }
}
