@import '../../styles/_colors.scss';

#projects{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2),transparent), url("/img/Mountains.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    .project-cards{
        height: 400px;
        width: 350px;
        position: relative;
        top: 10%;
        left: 10%;
        display: inline-flex;
        padding: 0%;
        margin: 2%;
        -moz-box-shadow: 5px 5px 5px #ccc;
        -webkit-box-shadow: 5px 5px 5px #ccc;
        box-shadow: 5px 5px 5px #ccc;
        .card-content{
            width: 100%;
            text-align: center;
            font-family: "Open Sans";
            text-decoration: none;
            .project-image{
                width: 100%;
                position: relative;
                padding: 0px;
                margin: 0px;
            }
            .card-text{
                h2{
                    position: relative;
                    font-size: 2vw;
                    font-family: "Open Sans";
                    // margin-top: 35%;
                    margin-bottom: 0%;
                    padding-bottom: 0%;
                    color:black;
                }
                p{
                    text-align: center;
                    margin: 20px;
                    font-size: 1vw;
                    line-height: 1.8vw;
                    font-weight: 100;
                    color: black;
                    position: relative;
                }
            }
        }
        a:hover{
            opacity: .8;
        }
    }
}

// Responsive Design
// PHONE: 0-1024
@media (max-width: 1024px) {
    #projects{
        z-index: 9;
        overflow-y: scroll;
        position: absolute;
        height: auto;
        background-size: cover;
        padding-bottom: 35%;
        .project-cards{
            height: 50%;
            width: 80%;
            left: 5%;
            display: inline-flex;
            padding: 0px;
            margin: 20px;
            margin-top: 12%;
            top: 50px;
            .card-content{
                background-color: rgba(255,255,255,0.5);
                .project-image{
                }
                .card-text{
                    h2{
                        position: relative;
                        font-size: 6.5vw;
                        margin-bottom: 0%;
                        padding-bottom: 0%;
                    }
                    p{
                        font-size: 4vw;
                        line-height: 6.5vw;
                    }
                }
            }
            a:hover{
                opacity: .8;
            }
        }
    }
}

