@import '../../styles/_colors.scss';

#projects{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2),transparent), url("/img/Mountains.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    .project-cards{
        height: 30%;
        width:20%;
        position: relative;
        top: 13%;
        left: 17%;
        background-color: $transparentOrange;
        display: inline-flex;
        padding: 10px;
        margin: 3%;
        -moz-box-shadow: 5px 5px 5px #ccc;
        -webkit-box-shadow: 5px 5px 5px #ccc;
        box-shadow: 5px 5px 5px #ccc;
        .content{
            display: inline;
            // padding: 20px;
            width: 100%;
            text-align: center;
            font-family: "Open Sans";
            h2{
                font-size: 34px;
                font-size: 2.4vw;
                font-family: "Open Sans";
                margin-top: 3%;
            }
            p{
                text-align: center;
                // margin: 20px;
                // margin: 5%;
                margin: 20px;
                font-size: 1.2vw;
                line-height: 1.8vw;
                font-weight: 100;
            }
            .project-link{
                color: black;
                display: block;
                margin-top: 5%;
            }
            i{
                padding: 5%;
                padding-top: 8%;
                color: black;
                font-size: 2vw;
                display: inline-block;
            }
        }
    }
}