@import '../../styles/_colors.scss';

#project-details{
    // background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2),transparent), url("/img/Mountains.jpg");
    // background-image: url("/img/Brands.jpg");
    // background-size: cover;
    background-color:$accentBlue;
    height: 100%;
    width: 100%;
    // position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    .breadcrumbs{
        z-index: 10;
        position: absolute;
        top:7%;
        left: 20px;
        color: #444;
        // color: red;
        a{
            color: #444;
            color: #555;
            // color: red;
        }
        a:hover{
            color:#888;
        }
        .current-page{
            color: #777;
            color: $lightGreen;
        }
    }
    .image-overlay-travel{
        background: linear-gradient(to right, rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.01), transparent);
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 15%,rgba(255, 255, 255, 0.1) 25%, transparent 30%);
        height: 100%; 
        width: 100%;
        position: fixed;
        z-index: 1;
    }
    .image-overlay-portfolio{
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2),transparent);
        height: 100%; 
        width: 100%;
        position: fixed;
        z-index: 1;
    }
    .feature-image{
        position: fixed;
        // top:10%;
        padding-top: 1%;
        // left:5%;
    }
    .job-title {
        margin-top: 7%;
        z-index: 3;
        position: fixed;
        right: 3%;
        width: 50%;
        h1{
            font-family: 'Open Sans';
            color: black;
            font-weight: 100;
            font-size: 71px;
            text-align: right;
            margin-bottom: 5px;
            margin-right: 7%;
        }
        h2{
            font-family: 'Open Sans';
            font-size: 30px;
            font-weight: 400;
            color: #222;
            text-align: right;
            margin-right: 7%;
            margin-bottom: 0px;
            margin-top: 0px;
        }
        p{
            font-family: 'Open Sans';
            color: black;
            font-size: 16px; 
            font-weight: 100;
            text-align: right;
            margin-right: 7%;
            margin-top: 5px;
        }
    }
    .project-summary{
        z-index: 2;
        position: absolute;
        top: 12%;
        height: 60%;
        width: 25%;
        margin-left: 1%;
        margin-bottom: 5%;
        padding-bottom: 1%;
        background-color: rgba(0,0,0,.3);
        // box-shadow: 0 0 5px 1px rgba(0,0,0,.3);
        h2{
            color: white;
            margin-bottom: 2%;
            padding-top: 1%;
            font-family: 'Cormorant Garamond';
            // font-weight: bolder;
            font-size: 26px;
            line-height: 36px;
            text-align: center;
            // text-decoration: underline;
        }
        h3{
            color: $accentOrange;
            font-size: 24px;
            margin: 0px;
            margin-left: 7%;
            margin-top: 5%;
            font-family: "Open Sans";
        }
        p{
            color:white;
            font-size: 16px;
            line-height: 24px;;
            font-weight: 100;
            margin-left: 7%;
            padding-right: 10%;
            // width:25%;
            font-family: 'Open Sans';
        }
        a{
            color:white;
            font-size: 16px;
            font-weight: 100;
            font-family: 'Open Sans';
            margin-left: 8%;

        }
    }
    .arrow-tooltip{
        position: absolute;
        top: 95%;
        left: 50%;
        color:$accentOrange;
        z-index: 8;
    }
    .project-content{
        z-index: 7;
        position: absolute;
        background-color: $accentBlue;
        height: auto;
        width: 93%;
        margin-left: 4%;
        margin-right: 4%;
        top: 93%;
        padding-top: 1%;
        padding-bottom: 5%;
        margin-bottom: 5%;
        // align-items: center;
        font-family: 'Open Sans';
        h3{
            color: $accentOrange;
            margin-top: 4%;
            padding-left: 7%;
            padding-right: 7%;
        }
        p{
            color: black;
            // width: 70%;
            padding-left: 7%;
            padding-right: 7%;
        }
        ul{
            padding-left: 12%;
            padding-right: 10%;
        }
        
        a{
            color: $accentOrange;
            padding-left: 7%;
            line-height: 52px;;
        }
        blockquote{
            margin-left: 12%;
            // padding-left: 7%;
            margin-right: 7%;
        }
    }
}


// Responsive Design
// PHONE: 0-768 
@media (max-width: 768px) {
  
}
    
// TABLET: 768-1025 
@media (min-width: 768px) and (max-width: 1025px){

}
