@import '../../styles/_colors.scss';

#projects{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2),transparent), url("/img/Mountains.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    .card-container{
        position: relative;
        display: inline-flex;
        top: 11%;
        // left: calc(50% - 615px);
        left: calc(50% - 450px);
        right: 5%;
        .project-cards{
            // height: 400px;
            height: 400px;
            // width: 350px;
            width: 22%;
            position: relative;
            // margin: 3%;
            margin: 30px;
            -moz-box-shadow: 1px 5px 5px #444;
            -webkit-box-shadow: 1px 5px 5px #444;
            box-shadow: 1px 3px 5px #444;
            text-decoration: none;
            background-color: rgba(255,255,255,0.2);
            .card-content{
               
                width: 100%;
                text-align: center;
                font-family: "Open Sans";
                .project-image{
                    width: 100%;
                    position: relative;
                    padding: 0px;
                    margin: 0px;
                }
                .card-text{
                    h2{
                        position: relative;
                        font-size: 2vw;
                        font-family: "Open Sans";
                        margin-top: 7%;
                        margin-bottom: 0%;
                        padding-bottom: 0%;
                        color:black;
                    }
                    p{
                        text-align: center;
                        margin: 20px;
                        margin-top: 20px;
                        padding-right: 20px;
                        padding-left: 20px;
                        font-size: 1vw;
                        line-height: 1.8vw;
                        font-weight: 100;
                        color: black;
                        position: relative;
                    }
                }
            }
        } 
        a:hover{
            opacity: .85;
        }
    }
}

// Responsive Design
// SMALL PHONE: 0-420
@media (max-width: 420px) {
    #projects{
        position: relative;
        height: auto;
        // height: 100vh;
        overflow-y: scroll;
        .card-container{
            position: relative;
            display: block;
            margin-top: 25%;
            left: 1.5%;
            margin-bottom: 10%;
            .project-cards{
                z-index: 9;
                display: inline-flex;
                height: 45vh;
                width: 80%;
                position: relative;
                margin: 30px;
                margin-top: 20px;
                padding-bottom: 10px;
                background-color: rgba(255,255,255,0.6);
                .card-content{
                    .project-image{
                    }
                    .card-text{
                        h2{
                            position: relative;
                            font-size: 6.7vw;
                            margin-bottom: 0%;
                            padding-bottom: 0%;
                            margin-top: 5%;
                        }
                        p{
                            font-size: 3.8vw;
                            line-height: 5.5vw;
                            margin-top: 5px;
                            padding: 0%;
                        }
                    }
                }
            }
            a:hover{
                opacity: .8;
            }
        }
    }
}

// Responsive Design
// LARGE PHONE: 421 - 800
@media (min-width: 421px) and (max-width: 800px) {
    #projects{
        position: relative;
        height: auto;
        // height: 100vh;
        overflow-y: scroll;
        .card-container{
            position: relative;
            display: block;
            margin-top: 25%;
            left: 6%;
            left: calc(50% - 230px);
            margin-bottom: 10%;
            .project-cards{
                z-index: 9;
                display: inline-flex;
                height: 55vh;
                // width: 75%;
                width: 400px;
                position: relative;
                margin: 30px;
                margin-top: 20px;
                padding-bottom: 30px;
                background-color: rgba(255,255,255,0.6);
                .card-content{
                    .project-image{
                    }
                    .card-text{
                        h2{
                            position: relative;
                            font-size: 5vw;
                            line-height: 7vw;
                            margin-bottom: 0%;
                            padding-bottom: 0%;
                            margin-top: 30px;
                        }
                        p{
                            font-size: 2.8vw;
                            line-height: 5vw;
                            padding: 0%;
                            margin-top: 20px;
                        }
                    }
                }
            }
            a:hover{
                opacity: .8;
            }
        }
    }
}

// Responsive Design
// TABLET
@media (min-width: 801px) and (max-width: 1024px) {
    #projects{
        .card-container{
            position: relative;
            display: inline-flex;
            top: 16%;
            left: 0%;
            .project-cards{
                height: 350px;
                width: 300px;
                width: 35%;
                position: relative;
                margin: 20px;
                background-color: rgba(255,255,255,0.6);
                .card-content{
                    .project-image{
                    }
                    .card-text{
                        h2{
                            position: relative;
                            font-size: 2.8vw;
                        }
                        p{
                            font-size: 1.5vw;
                            line-height: 2.2vw;
                        }
                    }
                }
            }
        } 
    }
}


// Responsive Design
// Large Tablet / laptop: 1025-1799
@media (min-width: 1025px) and (max-width: 1799px) {
    #projects{
        .card-container{
            top: 16%;
            left: 0%;
            .project-cards{
                height: 450px;
                width: 35%;
                position: relative;
                margin: 40px;
                background-color: rgba(255,255,255,0.6);
                padding-bottom: 20px;
                .card-content{
                    .project-image{
                    }
                    .card-text{
                        h2{
                            position: relative;
                            font-size: 2.2vw;
                            margin-top: 20px;
                        }
                        p{
                            font-size: 1.2vw;
                            line-height: 2vw;
                        }
                    }
                }
            }
        } 
    }
}

// Responsive Design
// 1800-2439
@media (min-width: 1800px) and (max-width: 2439px){
    #projects{
        .card-container{
            top: 11%;
            left: 20%;
            margin-right: 40px;
            .project-cards{
                height: 520px;
                width: 23%;
                position: relative;
                margin: 30px;
                padding-bottom: 3%;
                background-color: rgba(255,255,255,0.4);
                .card-content{
                    
                    .project-image{
                    }
                    .card-text{
                        
                        h2{
                            font-size: 2.2vw;
                            margin-top: 10%;
                            margin-bottom: 8%;
                        }
                        p{
                            margin: 20px;
                            margin-top: 10px;
                            padding-left: 50px;
                            padding-right: 50px;
                            font-size: 1.2vw;
                            line-height: 2vw;
                        }
                    }
                }
            } 
            a:hover{
                opacity: .85;
            }
        }
    }
}

// Responsive Design
// Large: > 2440
@media (min-width: 2440px){
    #projects{
        .card-container{
            top: 12%;
            left: 25%;
            margin-right: 40px;
            .project-cards{
                height: 650px;
                width: 550px;
                position: relative;
                margin: 30px;
                .card-content{
                    .project-image{
                    }
                    .card-text{
                        h2{
                            font-size: 2.2vw;
                            margin-top: 10%;
                            margin-bottom: 8%;
                        }
                        p{
                            margin: 20px;
                            margin-top: 10px;
                            padding-left: 50px;
                            padding-right: 50px;
                            font-size: 1.2vw;
                            line-height: 2vw;
                        }
                    }
                }
            } 
            a:hover{
                opacity: .85;
            }
        }
    }
}