@import "../../styles/_colors.scss";

.mdl-grid.resume-grid{
    filter: saturate(1);
    background-image: url("/img/Mountains.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity:0.8;
    padding: 0px;
    z-index: 8;
    .arrow-tooltip{
      display: inline-block;
      position: fixed;
      bottom: 0px;
    }


    .resume-left-col{
      height: auto;
      height: calc(100% - 65px);
      padding: 4em;
      padding-top: 1em;
      padding-right: 1.5em;
      padding-left: 1.5em;
      // background-color:#fb9073;
      background-color: $fadedOrange;
      // background-color: $transparentOrange;
      margin-top: 64px;
      margin-left: 0px;
      margin-right: 0px;
      border-radius: 3px;
      width: 33.3333%;
      overflow-y: scroll;
      h1{
        font-family: 'Open Sans';
        font-weight: 400;
        color: black;
        font-size: 48px;
        line-height: 58px;
        padding-bottom: 10px;
        width: 200px;
        // margin-top: 0px;
      }
      h2{
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        padding-right: 25px;
        margin-bottom: 0px;
        margin-top: 0px;
        color: black;
      }
      hr{
        border:none;
        margin-bottom: 10px;
        margin-top: 5px;
      }
    }
  .resume-left-col::-webkit-scrollbar {
    display: none;
  }
  .resume-right-col {
    background: linear-gradient(180deg, rgba(0,0,0,0.9) 80%,rgba(0,0,0, 0.8) 92%, rgba(0,0,0, 0.4)) 95%;
    color: white; 
    padding: 4em;
    padding-top: 1em;
    margin-top: 64px;
    margin-left: 0px;
    margin-right: 0px;
    overflow-y: scroll;
    height: calc(100% - 65px);
    width: 66.6667%;
    overflow-y: scroll;
    h2{
      font-family: 'Open Sans';
      font-weight: 100;
      // color: #fb9073;
      // color: rgba(251, 144, 115, 1); 
      color: $orange;
    }
    h4{
      font-family: 'Open Sans';
      font-weight: 100;
      margin-top: 0px;
      color: $orange;
    }
    .material-icons{
      font-size: 36px;
      margin-left: -42px;
      /* color: #ffc9b9; */
      color: $orange;
      opacity: 0.7;
      z-index: 0;
    }
    p{
      font-size: 16px;
      color: white;
    }
    a{
      color:$orange;
      }
    .publication-year a{
      color: white;
    }
  }
}
 
.resume-skill-progress {
  margin: auto;
  // width: 75%;
}
.resume-skill-col{
  display: flex;
  font-size: 16px;
  font-size: 1.1vw;
  span {
    width: 200px;
    width: 20%;
    color:#eee;
  }
  .mdl-progress{
      .progressbar {
      /* background-color: rgb(63,81,181); */
      background-color:$orange; 
      z-index: 1;
      left: 0;
      }
      .bufferbar {
        background-image: none;
        background-color:rgba(255, 175, 151,0.2);
        z-index: 0;
        left: 0;
      } 
  }
}


// Responsive Design
// PHONE: 0-768 
@media (max-width: 768px) {
  
}
    
// TABLET: 768-1025 
@media (min-width: 768px) and (max-width: 1025px){

}
