@import "../../styles/_colors.scss";

.mdl-grid.resume-grid{
    filter: saturate(1);
    background-image: url("/img/Mountains_small.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity:0.8;
    padding: 0px;
    z-index: 8;
    .arrow-tooltip{
      display: inline-block;
      position: fixed;
      bottom: 0px;
    }
    .resume-left-col{
      .aboutme-image-background{
        display: none;
    }
      position: relative;
      height: auto;
      // height: calc(100% - 65px);
      padding: 1.5em;
      padding-top: 4em;
      background: linear-gradient(to bottom, rgba(251, 144, 115, .1),rgba(251, 144, 115, .4), rgba(251, 144, 115, .7),rgba(251, 144, 115, .8),rgba(251, 144, 115, .8));
      // margin-top: 64px;
      margin: 0px;
      border-radius: 3px;
      width: 33.3333%;
      h1{
        font-family: 'Open Sans';
        font-weight: 100;
        color: black;
        font-size: 3.6vw;
        line-height: 3.9vw;
        padding-bottom: 10px;
        width: 200px;
        text-align: left;
        margin-top: 0px;
      }
      h2{
        font-family: 'Open Sans';
        font-weight: 100;
        font-size: 1.3vw;
        line-height: 2.3vw;
        // padding-right: 25px;
        // margin-bottom: 10px;
        padding-top: 10%;
        color: black;
      }
      hr{
        border:none;
        margin-bottom: 1vw;
        margin-top: 0px;
      }
    }
  .resume-left-col::-webkit-scrollbar {
    display: none;
  }
  .mdl-cell .mdl-cell--8-col{
    padding-bottom: .5%;
  }
  .resume-right-col {
    position: relative;
    overflow-y: scroll;
    height: 100%;
    width: 66.6667%;
    background: linear-gradient(180deg, rgba(0,0,0, 0.75) 6%,rgba(0,0,0, 0.8) 10%, rgba(0,0,0, 0.85) 14%, rgba(0,0,0,0.9) 80%,rgba(0,0,0, 0.8) 92%, rgba(0,0,0, 0.4)) 95%;
    color: white; 
    padding: 1.5em;
    padding-top: 4em;
    margin: 0px;
    h1{
      font-family: 'Open Sans';
      font-weight: 100;
      color: $accentOrange;
      font-size: 3.6vw;
      line-height: 3.9vw;
      padding-bottom: 10px;
      text-align: left;
      margin-top: 0px;
    }
    h2{
      font-family: 'Open Sans';
      font-weight: 100;
      font-size: 3.6vw;
      line-height: 4.6vw;
      color: $accentOrange;
      padding-top: 0px;
      margin-top: 3%;
      padding-bottom: 20px;
    }
    h4{
      font-family: 'Open Sans';
      font-weight: 100;
      margin-top: 0px;
      color: $accentOrange;
      font-size: 1.5vw;
      line-height: 2.5vw;
    }
    .material-icons{
      font-size: 36px;
      margin-left: -42px;
      /* color: #ffc9b9; */
      color: $accentOrange;
      opacity: 0.7;
      z-index: 0;
    }
    p{
      font-size: 1.2vw;
      line-height: 2.2vw;
      color: white;
    }
    a{
      color:$accentOrange;
      font-size: 1.2vw;
      line-height: 2.2vw;
      }
    .resume-skill-progress {
      margin: auto;
      // width: 75%;
    }
    .resume-skill-col{
      display: flex;
      font-size: 16px;
      font-size: 1.1vw;
      padding-bottom: .4vw;
      span {
        width: 20%;
        color:#eee;
        font-weight: 100;
        font-family: 'Open Sans';
        font-size: 1.1vw;
        line-height: 1.4vw;
      }  
      .mdl-progress{
        width: 50%;
        height: .2vw;
          .progressbar {
          /* background-color: rgb(63,81,181); */
          background-color:$accentOrange; 
          z-index: 1;
          left: 0;
          }
          .bufferbar {
            background-image: none;
            background-color:rgba(255, 175, 151,0.2);
            z-index: 0;
            left: 0;
          } 
      }
    }  
    .publications{
      h4{
        font-size: 1.8vw;
        line-height: 2.8vw;
      }
      p{
        text-align: left;
        font-size: 1.2vw;
        line-height: 2.2vw;
      }
      a{
        font-size: 1.2vw;
        line-height: 2.2vw;
        color:white;
        font-weight: 100;
        font-family: 'Open Sans';
        // text-decoration: none;
        i{
          padding-left: 15px;
        }
      }
    }
    .reference{
      h5{
        font-family: 'Open Sans';
        font-weight: 100;
        color:$accentOrange;
        padding-top: 0px;
        margin-top: 0px;
        font-size: 1.5vw;
        line-height: 2.5vw;
      }
      p{
        font-family: 'Open Sans';
        font-weight: 100;
        text-align: left;
        font-size: 1.2vw;
        line-height: 2.2vw;
      }
      margin-bottom: 5%;
      margin-top: 5%;
    }
    .resume{
      h4{
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 1.8vw;
        line-height: 2.8vw;
      }
      h5{
        margin: 0px;
        font-size: 1.5vw;
      }
      h6{
        margin-top: 0;
        font-size: 100;
      }
      p{
        text-align: left;
        font-size: 1.2vw;
        line-height: 2.2vw;
        margin-top: 1%;
      }
      a{
        font-size: 1.2vw;
        line-height: 2.2vw;
        margin-top: 2%;
        // text-decoration: none;
        i{
          padding-left: 15px;
        }
      }
    }  
  }

}
 


// Responsive Design
// PHONE: 0-767 
@media (max-width: 767px) {
  .mdl-grid.resume-grid{
    position: absolute;
    z-index: 9;
    height: 202vh;
    .arrow-tooltip{
      display: inline-block;
      position: fixed;
      top: 42%;
      right: 0%;
      }
    .mdl-cell .mdl-cell--12-col{
      margin: 0px;
      // margin-bottom: 2px;
    }
    .resume-left-col{
        .aboutme-image-background{
          display: block;
          position: absolute;
          background-color: rgba(0,0,0,.7);
          width: 35%;
          height: 150px;
          margin: 5%;
          right: 3%;
          top: 16%;
          .me-portrait{
            display: block;
            position: absolute;
            display: block;
            width: 85%;
            height: auto;
            left: 22%;
            top: 11%;
          }
        }

      position: relative;
      // height: 50%;
      height: 100vh;
      width: 100%;
      margin-top: 0px;
      margin-bottom: 0px;
      padding-bottom: 0px;
      h1{
        font-size: 10vw;
        line-height: 11vw;
        padding-top: 8%;
        padding-bottom: 20px;
      }
      h2{
        font-size: 5.1vw;
        line-height: 7.2vw;
        margin: 1%;
        padding: 0%;
        padding-top: 8%;
        width: 100%;
      }
    }
  .resume-left-col::-webkit-scrollbar {
    display: none;
  }
  .mdl-cell .mdl-cell--8-col{
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .resume-right-col {
    background: rgba(0,0,0,0.9);
    background: linear-gradient(180deg, rgba(0,0,0,0.9) 10%,rgba(0,0,0, 1) 12%, rgba(0,0,0, .9)) 20%;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0%;
    padding: 3%;
    overflow-y: auto;
    padding-bottom: 20%;
    .material-icons{
      font-size: 36px;
      margin-left: -42px;
      color: black;
      opacity: 0.7;
      z-index: 0;
      display: none;
    }
    h1{
      font-size: 9.5vw;
      line-height: 10.5vw;
      padding-top: 10px;
      padding-bottom: 0px;
      padding-left: 4%;
    }
    h2{
      font-size: 8vw;
      line-height: 8vw;
      padding-top: 0px;
      margin-top: 2%;
      margin-bottom: 0%;
      padding-bottom: 20px;
      padding-left: 4%;
    }
    h4{
      margin-top: 0px;
      padding-bottom: 0px;
      font-size: 4.5vw;
      line-height: 6vw;
    }
    .resume-skill-progress {
      width: 50%;
    }
    .resume-skill-col{
      span {
        width: 40%;
        font-size: 3vw;
        line-height: 4.3vw;
        padding-right: 4%;
      }  
    }  
    .resume{
      h4{
        margin-top: 0px;
        font-size: 4.5vw;
        line-height: 6vw;
      }
      h5{
        margin-top: 0px;
        font-size: 5.5vw;
        line-height: 7.2vw;
      }
      p{
        text-align: left;
        font-size: 3.5vw;
        line-height: 4.5vw;
        margin-top: 1%;
        margin-bottom: 2%;
      }
      a{
        font-size: 3.5vw;
        line-height: 4.5vw;
        margin-top: 1%;
      }
    }  
    .publications{
        h4{
          margin-top: 0px;
          font-size: 4.5vw;
          line-height: 6vw;
        }
        p{
          font-size: 3.5vw;
          line-height: 4.5vw;
          margin-top: 0%;
          margin-bottom: 0%;
        }
        a{
          font-size: 3.5vw;
          line-height: 4.5vw;
          margin-top: 1%;
          color:white;
        }
    }
    .reference{
        h5{
        font-size: 4.5vw;
        line-height: 6vw;
        font-weight: 100;
        font-family: 'Open Sans';
        margin-bottom: 0px;
        margin-top: 0px;
        }
        p{
        font-size: 3.5vw;
        line-height: 4.5vw;
        margin-bottom: 2%;
        font-weight: 100;
        font-family: 'Open Sans';
        }
        a{
        font-size: 3.5vw;
        line-height: 4.5vw;
        }
    }
  }
}
}
 
    
// TABLET: 768-1024
@media (min-width: 768px) and (max-width: 1024px){
  .mdl-grid.resume-grid{
    // overflow-y: scroll;
    position: absolute;
    z-index: 9;
    height: 202vh;
    .arrow-tooltip{
      display: none
      }
      .mdl-cell .mdl-cell--12-col{
        margin: 0px;
      }
    .resume-left-col{ 
      position: relative;
      height: 110vh;
      // height: 95%;
      width: 100%;
      margin-top: 0%;
      padding-top: 0%;
      padding-left: 7%;
      margin-bottom:0%;
      .aboutme-image-background{
      display: block;
      position: absolute;
      background-color: rgba(0,0,0,.7);
      width: 35%;
      height: 290px;
      margin: 5%;
      right: 3%;
      top: 8%;
      .me-portrait{
        display: block;
        position: absolute;
        display: block;
        width: 80%;
        height: auto;
        left: 25%;
        top: 11%;
      }
    }
      h1{
        padding-top: 15%;
        padding-bottom: 50px;
        font-size: 9vw;
        line-height: 10vw;
      }
      line-height: 10vw;
      h2{
        font-size: 4vw;
        line-height: 6.8vw;
        padding-top: 11%;
        // padding-bottom: 10px;
      }
    }
  .resume-left-col::-webkit-scrollbar {
    display: none;
  }
  .mdl-cell .mdl-cell--8-col{
    margin-top: 0px;
    margin-bottom: 20px;
    // overflow-y: auto;
  }
  .resume-right-col {
    background: linear-gradient(180deg, rgba(0,0,0,1) 10%,rgba(0,0,0, .9)) 20%;
    position: relative;
    width: 100%;
    height: auto;
    overflow-y: auto;
    padding-bottom: 20%;
    margin-top: 0%;
    padding-top: 0%;
    .material-icons{
      font-size: 36px;
      margin-left: -42px;
      color: black;
      opacity: 0.7;
      z-index: 0;
      display: none;
    }
    h1{
      font-size: 9.5vw;
      line-height: 10.5vw;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 4%;
    }
    h2{
      font-size: 8vw;
      line-height: 8vw;
      padding-top: 0px;
      margin-top: 2%;
      margin-bottom: 20px;
      padding-bottom: 20px;
      padding-left: 4%;
    }
    h4{
      margin-top: 0px;
      padding-bottom: 0px;
      font-size: 4.5vw;
      line-height: 6vw;
    }
    .resume-skill-progress {
      width: 50%;
    }
    .resume-skill-col{
      span {
        width: 40%;
        font-size: 3vw;
        line-height: 4.3vw;
        padding-right: 4%;
      }  
    }  
    .resume{
      h4{
        margin-top: 10px;
        font-size: 4vw;
        line-height: 6vw;
      }
      h5{
        margin-top: 10px;
        font-size: 5vw;
        line-height: 7.2vw;
      }
      p{
        text-align: left;
        font-size: 3vw;
        line-height: 4.5vw;
        margin-top: 1%;
        margin-bottom: 2%;
      }
      a{
        font-size: 3vw;
        line-height: 4.5vw;
        margin-top: 1%;
      }
    }  
    .publications{
        h4{
          margin-top: 0px;
          font-size: 4vw;
          line-height: 6vw;
        }
        p{
          font-size: 3vw;
          line-height: 4.5vw;
          margin-top: 0%;
          margin-bottom: 0%;
        }
        a{
          font-size: 3vw;
          line-height: 4.5vw;
          margin-top: 1%;
          color:white;
        }
      }
    }
    .reference{
      padding-top: 20px;
      h5{
        font-size: 4vw;
        padding-bottom: 20px;
        padding-right: 30px;
        line-height: 4vw;
        color: $accentOrange;
        font-weight: 100;
        font-family: 'Open sans';
      }
        p{
        font-size: 18px;
        // line-height: 5vw;
        padding-bottom: 5px;
        padding-top: 5px;
      }
    }
  }
}


// LARGE: >2500 px
@media (min-width: 2500px){
  .mdl-grid.resume-grid .resume-left-col{
    h1{
      line-height: 4.1vw;
    }
    h2{
      padding-top: 15%;
      font-size: 1.2vw;
      line-height: 2.2vw;
    }
    hr{
      margin-bottom: 2vw;
    }
  }
  .mdl-grid.resume-grid{
    .mdl-cell .mdl-cell--8-col{
      padding-bottom: 5%;
    }
    .resume-right-col{
      .resume-skill-col span{
      line-height: 1.6vw;
    }
  }
  } 
}