@import "../../styles/colors";


//  Navbar is opaque onScroll
body{
    .App.scrolled{
        .mdl-layout .mdl-layout__inner-container {
            .mdl-layout__header.mdl-layout__header--transparent.is-casting-shadow{
                background-color: $mediumOrange;
                // background-color: $accentBlue;
            }
        }
    }
    .mdl-layout .mdl-layout__inner-container{
        // height: 8%;
        // z-index:20;
        .mdl-layout__header.mdl-layout__header--transparent.is-casting-shadow{
            background-color: transparent;
            transition: background-color .5s ease-in;
            height: 8%;
            z-index: 10;
            // position: absolute;
            position: fixed;
        }   
        .mdl-navigation__link{
            position: relative;
            color: black;
            font-size: 1vw;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            padding-left: 40px;
        }
        .header-title{
            position: fixed;
            color: black;
            font-family: "Quentin";
            // font-size: 50px;
            font-size: 2.5vw;
            text-decoration: none;
            left:20px;
            top: 10px;
        }
        .mdl-layout__drawer-button{
            display: none;
        }
    }
    // Navbar colour options
    // .white-title .mdl-layout .mdl-layout__inner-container{ 
    //     .header-title{
    //         color: white;
    //         z-index: 10000;
    //         position: fixed;
    //     }
    //     .mdl-navigation__link{
    //         color: white;
    //         z-index: 10000;
    //         position: fixed;
    //     }
    // }
    // .orange-title .mdl-layout .mdl-layout__inner-container .mdl-layout__header{
    //     .header-title{
    //         color: $accentOrange;
    //     }
    //     .mdl-layout__drawer-button i{
    //         color:  $accentOrange;
    //     }
    //     .mdl-navigation__link{
    //         color:  $accentOrange;
    //     }
    // }
}



// Responsive Design
// PHONE: 0-768 
@media (max-width: 768px) {
    body{
        .App.scrolled{
            .mdl-layout .mdl-layout__inner-container {
                .mdl-layout__header.mdl-layout__header--transparent.is-casting-shadow{
                    background-color: $mediumOrange;
                    background-color: $accentBlue;
                }
            }
        }
        .mdl-layout .mdl-layout__inner-container {
            z-index: 10;
            height: 50vh;
            // position: unset;
            // height: 10%;
            // height: 904%;
            // height: auto;
            // position: fixed;
            .mdl-layout__header.mdl-layout__header--transparent.is-casting-shadow{
                background-color: transparent;
                transition: background-color .5s ease-in;
                // background-color: $accentBlue;
                height: 8%;
                position: fixed;
            } 
            .mdl-layout__header-row{
                padding: 0px;
                // position: absolute;
            }
            .mdl-layout__header{
                display:block;
                z-index: 10;
                .header-title{
                    position: absolute;
                    padding-left: 0px;
                    font-size: 38px;
                    line-height: 0px;
                    left: 20px;
                    top: 50%;
                    top: 0px;
                }
                .header-nav{
                    display:none;
                }
            }         
            .mdl-layout__drawer-button{
                display: block;
                // position: absolute;
                position: fixed;
                color: black;
                z-index: 10;
                left: auto;
                right: 10px;
                // top: 50%;
                margin: 8px 12px;
                cursor: pointer;
                i{
                    font-size: 10vw;   
                }
            } 
            .mdl-layout__drawer{
                position: fixed;
                z-index: 11;
                height: 100%;
                // width: 50%;
                background-color: $fadedBlue;
                // background-color: white;
                .mdl-layout-title{
                    .header-title{
                        position: fixed;
                        font-family: "Quentin";
                        font-size: 38px;
                        line-height: 48px;
                        text-decoration: none;
                        padding-left: 0px;
                        left: 20px;
                        top: 2px;
                    }
                }
            }   
            .drawer-nav{
                .mdl-navigation__link{
                    position: relative;
                    top: 50px;
                    color: black;
                    font-size: 18px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 100;
                }
            }
        }
    }
}

// Responsive Design
// TABLET: 769-1024 
@media (min-width: 769px) and (max-width: 1024px){
    body .mdl-layout .mdl-layout__inner-container{
        
        .mdl-layout__header.mdl-layout__header--transparent.is-casting-shadow{
        }   
        .mdl-layout__header{
            display:block;
            z-index: 8;
            .header-title{
                left:5%;
                top: 30px;
            }
            .header-nav{
                .mdl-navigation__link{
                    font-size: 1.6vw;
                    padding-left: 24px;
                    top: 30px;
                }
            }
        }     

    }
}