@import "../../styles/colors";

body .mdl-layout .mdl-layout__inner-container{
    // height: 8%;
    // z-index:20;
    .mdl-layout__header.mdl-layout__header--transparent.is-casting-shadow{
        // background: rgba(255,255,255,1);  
        position: fixed;
        // right: 2.5%;
        background-color: $accentBlue;
        height: 8%;
        z-index: 10;
    }   
    .mdl-navigation__link{
        position: relative;
        color: black;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        padding-left: 40px;
    }
    .mdl-layout__drawer-button{
        color: black;
        z-index: 100;
        left: auto;
        right:30px;
        top:15px;
        display: none;
        position: absolute;
        margin: 8px 12px;
        cursor: pointer;
        width: 48px;
        border:none;
            i{
            z-index: 100;
            // color:black;
            color:black;
            font-size: 40px;   
            }
    }
    .mdl-layout__drawer{
        height: 100vh;
        background-color: $accentBlue;
        .mdl-layout-title{
            .header-title{
                // display: none;
                position: fixed;
                font-family: "Quentin";
                font-size: 50px;
                text-decoration: none;
                left: 14px;
                top: 0px;
            }
        }
    }
    .drawer-nav{
        padding-top:80px;
        .mdl-navigation__link{
            position: relative;
            color: black;
            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
        }
    }
    .mdl-layout__drawer .mdl-navigation{
        position: relative;
        padding-top:70px;
        height: 300vh;
    }
    .mdl-textfield__label:after{
        background-color:black;
    }
    .mdl-textfield__input{
        border-bottom: none;
        // color:white;
    }
    .header-title{
        position: fixed;
        color: black;
        font-family: "Quentin";
        font-size: 50px;
        text-decoration: none;
        left:20px;
        top:6px;
    }
}



// Responsive Design
// PHONE: 0-768 
@media (max-width: 768px) {
    body .mdl-layout .mdl-layout__inner-container {
        z-index: 8;
        height: 100%;
        .mdl-layout__header.mdl-layout__header--transparent.is-casting-shadow{
            height: 15%; 
            height: 11%; 
        }
        .mdl-layout__drawer{
            position: absolute;
            padding-top: 5%;
        }
        .mdl-layout__drawer-button{
            display: block;
            position:fixed;  
            top: 15px;
            right: 0px;
            i{
            color:black;
            }
        }
        .mdl-layout__header{
            display:block;
            .header-title{
                display:block;
                left:20px;
                top: 15px;
                position: fixed;
            }
            .header-nav{
                display:none;
            }
        }
    }
}

// Responsive Design
// TABLET: 768-1025 
@media (min-width: 768px) and (max-width: 1025px){
    body .mdl-layout .mdl-layout__inner-container {
        .mdl-layout__drawer{
            position: absolute;
        }
        .mdl-layout__drawer-button{
            display: block;
            position:fixed;  
            top: 2%;
            right: 5%;
            i{
            color:black;
            font-size: 60px;

            }
        }
        .mdl-layout__header{
            display:block;
            .header-title{
                display:block;
                left:5%;
                top: 2%;
                position: fixed;
            }
            .header-nav{
                display:none;
            }
        }
    }
}