@import "../../styles/colors";

body .mdl-layout .mdl-layout__inner-container{
    // height: 8%;
    // z-index:20;
    .mdl-layout__header.mdl-layout__header--transparent.is-casting-shadow{
        position: fixed;
        // background-color: $accentBlue;
        background-color: transparent;
        height: 8%;
        z-index: 10;
    }   
    .mdl-navigation__link{
        position: relative;
        color: black;
        font-size: 1.2vw;
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        padding-left: 40px;
    }
    .header-title{
        position: fixed;
        color: black;
        font-family: "Quentin";
        font-size: 50px;
        text-decoration: none;
        left:20px;
        top:6px;
    }
    .mdl-layout__drawer-button{
        display: none;
    }
}



// Responsive Design
// PHONE: 0-768 
@media (max-width: 768px) {
    body{
        .App.scrolled{
            .mdl-layout .mdl-layout__inner-container {
                .mdl-layout__header.mdl-layout__header--transparent.is-casting-shadow{
                    background-color: $accentOrange;
                }
            }
        }
        .mdl-layout .mdl-layout__inner-container {
            z-index: 10;
            // height: 904%;
            position: absolute;
            .mdl-layout__header.mdl-layout__header--transparent.is-casting-shadow{
                background-color: transparent;
                transition: background-color .5s ease-in;
                // background-color: $accentBlue;
                height: 8%;
                // z-index: 10;
                // position: absolute;
                position: fixed;
            } 
            .mdl-layout__header-row{
                padding: 0px;
            }
            .mdl-layout__header{
                display:block;
                z-index: 10;
                
                .header-title{
                    position: absolute;
                    padding-left: 0px;
                    font-size: 38px;
                    line-height: 0px;
                    left: 20px;
                    top: 50%;
                }
                .header-nav{
                    display:none;
                }
            }         
            .mdl-layout__drawer-button{
                display: block;
                // position: absolute;
                position: fixed;
                color: black;
                z-index: 10;
                left: auto;
                right: 10px;
                // top: 50%;
                margin: 8px 12px;
                cursor: pointer;
                i{
                    font-size: 10vw;   
                }
            } 
            .mdl-layout__drawer{
                z-index: 11;
                height: 100%;
                // background-color: $accentBlue;
                background-color: $fadedBlue;
                // background-color: white;
                .mdl-layout-title{
                    .header-title{
                        position: fixed;
                        font-family: "Quentin";
                        font-size: 38px;
                        line-height: 48px;
                        text-decoration: none;
                        padding-left: 0px;
                        left: 20px;
                        top: 10px;
                    }
                }
            }   
            .drawer-nav{
                .mdl-navigation__link{
                    position: relative;
                    top: 80px;
                    color: black;
                    font-size: 18px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 100;
                }
            }
        }
    }
}

// Responsive Design
// TABLET: 769-1024 
@media (min-width: 769px) and (max-width: 1024px){
    body .mdl-layout .mdl-layout__inner-container{
        .mdl-layout__header.mdl-layout__header--transparent.is-casting-shadow{
        }   
        .mdl-layout__header{
            display:block;
            z-index: 8;
            .header-title{
                left:5%;
                top: 30px;
            }
            .header-nav{
                .mdl-navigation__link{
                    font-size: 1.6vw;
                    padding-left: 24px;
                    top: 30px;
                    
                }
            }
        }     

    }
}