
@import "../../styles/_colors.scss";

.footer-links {
    text-align: left;
    position: fixed;
    bottom: 5px;
    left:50px;
    z-index: 8;
    i{
        // color: black;
        color:white;
        color: $accentBlue;
        font-size:22px;
        padding: 30px;
        padding-bottom:10px;
    }
} 


// -- Responsive Design --
// PHONE: 0-768 
@media (max-width: 768px) {
    .footer-links{
        z-index: 10;
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        text-align: center;
        i{
            margin-left: 0px;
            margin-right: 0px;
            font-size: 20px;
            font-weight: bold;
            padding-right: 20px;
        }
    }
}

// TABLET: 768-1025 
@media (min-width: 768px) and (max-width: 1025px){
    .footer-links{
        position: fixed;
        left: 0px;
        width: 100%;
        text-align: center;
        i{
            margin-left: 0px;
            margin-right: 0px;
            font-size: 24px;
            font-weight: bold;
            padding-right: 60px;
        }
    }
}


